.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #fff;
  box-shadow: none;
}

input {
  border: none;
  &:focus {
    outline: none;
  }
}

button {
  font-size: inherit;
  border: none;
  background-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

li {
  list-style: none;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
